@model IEnumerable<Practica.Models.Formulario>

@{
    ViewData["Title"] = "Registro";
}

<h2>Registro de usuarios </h2>

<p>
    <a asp-action="Create">Registrar nuevo usuario</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidoP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidoM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contrasena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellidoP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellidoM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contrasena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modificar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>|

            </td>
        </tr>
}
    </tbody>
</table>
